<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Menu ppal -->
      <% include ../partials/menu-principal %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <h1 style="text-align: center">Listado de PFGs</h1>
        <hr>

        <!-- Table -->
        <div class="table-responsive">
          <table id="tabla_pfgs" class="table table-condensed"> <!-- table-bordered -->
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Título</th>
                <th>Tutor</th>
                <th>Alumno</th>
                <th>T.A.</th>
                <th>Mem.</th>
                <th>Def.</th>
                <th>Final</th>
              </tr>
            </thead> 
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Título</th>
                <th>Tutor</th>
                <th>Alumno</th>
                <th>T.A.</th>
                <th>Mem.</th>
                <th>Def.</th>
                <th>Final</th>
              </tr>
            </tfoot> 
            <tbody>
              <% if(typeof pfgs !== 'undefined'){ %>
              <% pfgs.forEach(function(p){ %>
              <tr>
                <td><%= p.idpfg %></td>
                <td><%= p.alumno %></td>
                <td><%= p.tutor %></td>
                <td><%= p.idrubrica %></td>
                <td class="col-sm-4"><%= p.titulo %></td>
                <td class="col-sm-2"><%= p.t_n %> <%= p.t_a %></td>
                <td class="col-sm-2"><%= p.a_n %> <%= p.a_a %></td>
                <td class="col-sm-1"><%= p.eval_seccion_1 %></td>
                <td class="col-sm-1"><%= p.eval_seccion_2 %></td>
                <td class="col-sm-1"><%= p.eval_seccion_3 %></td>
                <td class="col-sm-1"><%= p.nota_final %></td>
              </tr>
              <% }); %>
              <% }; %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/rubricas.js"></script>

<% include ../partials/footer %>